{var $robots = noindex}
{block #content}
<div id="contentIn">
    <h1>Stránka nenalezena</h1>

    <p>Omlouváme se, ale stránka, kterou se snažíte zobrazit nebyla nalezena. Je možné, že se pokoučíte zadat nekorektní
    adresu, nebo stránka přestala existovat.</p>

    <p><small>error 404</small></p>
</div>